
/* 
.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */
 /* for black use #272736ff */

*{
    margin: 0;
    padding: 0;
  font-family: "Pixelify Sans", sans-serif;

}
body{
  overflow: hidden;
}
:root{
  --shadow-hud-buttons:#568fb5;
  --menu-select-bar-bg:#14589b;
  --font-color:aliceblue;
  --orange-color:#e57632ff;
}
/* attributes */
[hidden]{
  display: none !important;
}
[notClickable]{
  opacity: 0.5;
    filter: drop-shadow(0px 0px 0px var(--shadow-hud-buttons) )!important;
transform: translate(-4px, 4px);
}
.menuBarClicked{
  background-color: var(--menu-select-bar-bg);
}
/* score display */
.score-display {
    display: none;
}
/* css for menu */
.gameMenu{
  display: none;
  position: absolute;
  background-image: url(../Art/menu.PNG);
  height: 880px;
  margin-top: 30px;
  justify-self: center;
  text-align: center;
  color: var(--font-color);
  width: 480px;
    background-repeat: no-repeat;
    background-size: cover;
      background-position: center;
      z-index: 2000;
}
.menu-btns{
  position: absolute;
  bottom: 0;
  justify-self: center;
}
.gameMenu img{
  height: 64px;
  padding: 10px;
  margin-bottom: 30px;
   filter: drop-shadow(-7px 4px 0px var(--shadow-hud-buttons));
  cursor: pointer;
}
.gameMenu img:active{
   filter: drop-shadow(0px 0px 0px var(--shadow-hud-buttons));
transform: translate(-4px, 4px);
}
#menuIcon{
  position: absolute;
  transform: translate(-20px, 10px);
  
  height: 74px;
  padding: 10px;
  filter: drop-shadow(-7px 4px 0px var(--shadow-hud-buttons));
  cursor: pointer;
  right: 0;
}
.menuBar ul{
  display: flex;
  justify-self: center;
  margin: 10px;
}
.menuBar ul li{
  list-style: none;
  color: var(--font-color);
  cursor: pointer;
  font-size: 24px;
  padding: 15px;
}
.masterSlider{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 30px;
  gap: 20px;
  
}
.slider{
  -webkit-appearance: none;
  width: 50%;
  height: 20px;
  background: linear-gradient(90deg, rgb(229, 118, 50) 60%, var(--shadow-hud-buttons) 60%);
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  -webkit-transition: 0.2s;
  border-radius: 12px;
}
.slider:hover{
opacity: 1;
}
.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.valueClass{
  margin-left: 40px;
}
.slider::after{
  content: "100";
  color: var(--font-color);
  position: absolute;
  margin-top: 30px;
  right: 0;
  margin-right: 30px;
}
.slider::before{
    content: "0";
  color: var(--font-color);
  position: absolute;
  margin-top: 30px;
}
/* start screen css */
.startBG{
    position: fixed;
    height: 105%;
    z-index: -100;
    width: 105%;
     background-image: url("../Art/bratislavaBG1.png");
    background-color: #272736ff;
    background-repeat: no-repeat;
    background-size: cover;
      background-position: center;
    background-blend-mode:overlay;
}
.startBG.blur {
  filter: blur(9px);
}

.start-screen{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}
.nitroslavLogo{
    height: 800px;

}
.nitroslavLoop{
  margin-top: 22px;
  display: none;
  position: absolute;
}
.start-screen button{
    cursor: pointer;
    font-size: 40px;
    margin-top:-100px;
    z-index: 100;
    font-weight: 700;
    padding: 15px;
   background-color: transparent;
   border: none;
   color: var(--font-color);
    
}
#nitroslavLogo,
.start-screen button{
  display:block;          /* keep space reserved */
  opacity:0;              /* start hidden */
  visibility:hidden;      /* not focusable/clickable */
  transition:opacity .4s ease;
}

.show {
  opacity:1;
  visibility:visible;
}

/* css for car character choose slider */
.chooseBG{
  display: none;
      position: fixed;
    height: 105%;
    z-index: -100;
    width: 105%;
     background-image: url("../Art/bratislavaBG2.png");
    background-color: #272736ff;
    background-repeat: no-repeat;
    background-size: cover;
      background-position: center;
    background-blend-mode:overlay;
}

#chooseScreen, #chooseMap{
    display: none;
}
#chooseCarTxt, #chooseMapTxt{
    font-size: 50px;
    text-align: center;
color: var(--font-color);
    padding: 40px;
}
.choose-character, .choose-map {
    display: none;
    
}
.character-container, .map-container{
    width: 1000px;
    height: 375px;
    position: relative;
    margin: auto;
}
.myChar, .myMap{
    text-align: center;
    
}
.myChar img, .myMap img{
    margin-top: 20px;
    max-height: 250px;
    
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--font-color);
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  font-size: 45px;
}
.char-caption, .map-caption {
  color: var(--font-color);
  font-size: 35px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
    position: relative;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  bottom: 8px;
  
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.ctnu{
    padding: 20px;
    text-align: center;
}
.continue-btn{
   cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    padding: 15px;
   background-color: transparent;
   border: none;
   color: var(--font-color);
    
}
.carInfo{
  position: absolute;
  transform: translate(0px, 150px);
  color: var(--font-color);
  background-color: #006abc30;
  padding: 20px;
}
.carInfo p{
  padding: 5px;
  font-size: 23px;
}
/* choose your map css */
/* game index css */
.game-index{
  display: none;
  width: 100vw;
  height: 100vh;
  /* ! set to none */
}
.gameCanvas{
 background-color: blue;
 position: absolute;
 justify-self: center;
    image-rendering: pixelated;
}
.hud{
  position: absolute;
  width: 100%;
  height: 100%;
}
.inlineBtns{
   position: absolute;
display: flex;
right: 0;
bottom: 0;
transform: translate(-60px, -50px);
flex-direction: row
}
#arrowUp{
  width: 74px;
  filter: drop-shadow(-7px 4px 0px var(--shadow-hud-buttons));
  cursor: pointer;
  padding: 10px;
}
#nos{
  height: 74px;
  filter: drop-shadow(-7px 4px 0px var(--shadow-hud-buttons));
  cursor: pointer;
  padding: 10px;
}

#arrowUp:active{
    filter: drop-shadow(0px 0px 0px var(--shadow-hud-buttons));
transform: translate(-4px, 4px);
}
#nos:active{
    filter: drop-shadow(0px 0px 0px var(--shadow-hud-buttons));
transform: translate(-4px, 4px);
}
#menuIcon:active{
    filter: drop-shadow(0px 0px 0px var(--shadow-hud-buttons));
transform: translate(-24px, 13px);
}
/* continue to make phone rotated for playing on phone */
@media screen and (max-width: 769px) {
  body{
    rotate: 90deg;
  }
}